html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


* {
    padding: 0;
    margin: 0;
}


html {
    font-size: 62.5%;
}

body {
    background-color: #1F2022;
    color: #FFFFFF;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    font-family: 'Catamaran', sans-serif;    
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
    text-decoration: none;
}

i {
    color: #F2A11C;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

header {
    background: url('./assets/image-1.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
}

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
}

h1 {   
    font-size: 13rem;
    text-align: center;
    color: #F2A11c;
    margin-top: 250px;
    float: left;
    width: 90%;
    padding-left: 50px; 
}

h2 {
    font-size: 4.2rem; 
    color:#1F2022;
}

h3 {    
    font-size: 2.5rem; 
    color:#F2A11C;
    padding: 20px 0;
    font-weight: normal;
}

li {
    font-family: 'Catamaran', sans-serif;
    display: inline-block;
    margin: 25px;   
    color: #FFFFFF;
}

p {
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
}
section p {
    font-style: normal;
    color:#1F2022;
    line-height: 29px;
    padding: 10px 0 20px 0;

}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* SKIP LINK  */
.skip-link{
    position:absolute;
    left:-3000px;
    top:10px;
    z-index: 999;    
    background-color: #FFFFFF;
    color: #1F2022;
}

.skip-link:focus{
    left:0;
}

/* HEADER NAVIGATION STYLES  */

header li a{ 
    font-weight: bold
}

button,
 .read-more{
   font-family: 'Catamaran', sans-serif;
    font-style: bold;
    color: #F2A11c;
    background-color: #1F2022;
    padding: 5px 12px;
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.nav-links nav {
    text-align: center;   
}

.nav-links label {
    font-size: 4rem;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    padding: 10px 20px 0px  95px;
    display: none;
}

.nav-links label i{
    color: #F4F4F4;
}

.nav-links input {
    position: fixed;
    right: 10px;
    top: 0;
    height: 60px;
    width: 60px;
    display: none;
}

/* SOCIAL MEDIA LINKS */

.social-links {
    width: 10%;
    float: right;
}

.social-links ul {
    padding-top: 250px;
    text-align: right;
}
.social-links li {
    display: block;
    margin: 12px;    
}


 /******** ABOUT US SECTION ******** */

 /* section backgrounds color*/
.about,
.mission  {
    background-color:#F4F4F4;
}

.grid-two,
.grid-one,
.grid {
    width: 50%;   
}
.grid-two,
.grid-one {
    float: right;
}
.grid {
    float: left;
}

.about-us-text{
    margin-top: 15%; 
    padding-right: 5%;
}

.our-mission-text {
    margin-top: 15%;
    padding-left: 5%;
}

.about-us-image, 
.our-mission-image {
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vw;
}

.about-us-image {
    background-image: url('./assets/image-2.jpg');
}

.our-mission-image {
    background-image: url('./assets/image-7.jpg');
}


/* MEET ALISSA  */

.meet-alissa {   
    background-color: #FFFFFF;
    padding: 5% 0;
}

.alissa-image{
    width: 25%;
    float: left;    
}

.alissa-text {
    width: calc(75% - 30px);
    float: left;
    margin-left: 30px;
    padding-left: 10px;   
}

/* MORE LINKS  */

.more-links {
    background-image: url('./assets/image-5.jpg');
    background-size: cover;
    padding: 12%;
}

.more-links-items nav {
    text-align: center;
    
}
.more-links-items li {
    display: inline-block;
    margin: 35px;
}
.more-links-items i,
.more-links-items a {
    display: block;
    margin: 0 20px;
}

.more-links-items i {
    padding-bottom:15px;
    text-align: center;
    font-size: 2.5rem;
    color: #FFFFFF;
}
.bike i {
    font-size: 3rem;
}
.more-links-items a {
    text-transform: capitalize;
    color: #f2A11C;
}

/* THE GRAM - IMAGE GALLERY */

.gallery {
    text-align: center;
    background-color: #F4F4F4;
}

.gallery h2 {
    padding: 30px 0 35px 0;
}

.gallery-images {
    padding: 20px 0 60px 0;
}

.gallery-images div{
    width: calc((100% - 40px) / 3);
    float: left;
    margin-right: 20px;
}

.gallery-images div:nth-child(3n) {
    margin-right: 0;
}

/* FOOTER STYLING */

.contact {
    background-color: #1F2022;
    padding-bottom: 40px;
}

.contact nav {
    padding: 30px 0;
    display: block;
    text-align: center;    
}

.contact li {
    font-size: 2rem;
    margin: 20px;
    text-transform: uppercase;   
}

.address, .subscribe {
    float: left;
    width: 50%;
}

.contact p {
    color: #FFFFFF;
    line-height: 1px;

}

.subscribe p {
    padding-bottom: 0;
}

/* FOOTER FORM STYLING  */

form {
    margin: 15px 0;
    font-size: 0;
}

input {
    font-size: 2rem;
}
input[type=email] {
    width: 60%;
    padding: 10px;
    margin: 0;
    border-style: none;
}

input[type=button]{
    padding: 9px;
    width: 30%;
    border-radius: 0;
    border-style: none;
    margin: 0;
    background-color: #F2A11C;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid transparent;
}

input[type=button]:hover,
input[type=button]:focus{
    cursor: pointer;
    border: 1px solid #f4f4f4;

}

/* COPYRIGHT STYLING  */

.copyright {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    color: #4A4A4A;
    font-size: 2rem;
}

.copyright a:hover,
.copyright a:focus {
    color: #F4F4F4;
}

.menu-close {
    visibility: hidden;
}
 /* MEDIA QUERIES */

 /* MEDIA QUERIES FOR TABLETS */
 @media (max-width: 860px) {

.about-us-text, .our-mission-text {
    padding : 30px 20px 15px 20px;
    margin: 0;
}

section p,
.contact p {
    font-size: 1.8rem;
    line-height: 20px;
    padding: 10px 0 15px;    
}

.read-more{
     padding-top: 5px;
 }

.alissa-image {
    padding: 40px 0 0;
}
input[type=button] {
    width: 45%;
}
input[type=email] {
    width: 50%;
}
}



@media (max-width:670px) {

section p {
    line-height: 29px;
    padding: 20px 0 40px;
    text-decoration: none;
}

.social-links {
   display: none;
}

/* MAIN SECTION  */
.about-us-text, 
.our-mission-text,
.alissa-text {
    margin: 0;
    text-align: center;
    padding: 50px 20px 80px 20px;
}

.about-us-text {
     padding-top: 330px;
}
   
.more-links-items a  {
    font-size: 2.5rem;
}

.more-links-items i {
    font-size: 3.5rem;
}

.bike i {
    font-size: 5rem;
}

.read-more{
     padding: 10px 30px;
 }

/* Positioning the cyclist in the background */
.more-links {
    background-position: 70% 0 ;
}

.address, .subscribe {
    float: none;
    text-align: center;
    padding: 15px 0;
}

.contact p {
    font-size: 1.7rem;
    padding: 15px 0;
}

header {
       background-image: url('./assets/image-1-mobile@2x.jpg');
       background-size: cover;
}

.grid-two,
.grid {
    width: 100%;
    float: none;
}

.grid-one {
    width: 100%;
    float: right;
}    
 
.alissa-image,
.alissa-text,
.address,
.subscribe  {
    width: 100%;
}

.gallery-images div {
       width: calc((100% - 20px) / 2);
       margin-right: 10px;
}

.gallery-images div:nth-child(3n) {
       display: none;
}

input[type=email],
input[type=button]{
      width: 100%;
      padding: 10px 10px;
     
}

input[type=email]{
      margin-bottom: 10px;
      text-align: center;    
}

h1 {
      font-size: 7.5rem;
      padding: 0;
      margin-top: 300px ;
      text-decoration: none;
}

.contact li {
    text-transform: capitalize;
    margin: 10px;
}
}

/* MEDIA QUERIES FOR MOBILE VIEW */
@media (max-width: 590px) {

/* DISPLAY MAIN NAV AS PART OF HAMBURGER MENU */
.nav-links nav{
    display: block;
}

/* move nav out of the screen before hamburger menu is clicked */
.nav-links ul {
    background-color: #F4F4F4;
    width: 150px; 
    position: fixed;
    top: 10px;
    right: -300px;
    padding-top: 35px;
    text-align: center;
    transition: all 0.4s;
}

.nav-links label {
    display: inline-block;
}

.nav-links input {
    display: inline;
    visibility: hidden;
}

/* Padding for About Us text area */
.about-us-text {
     padding-top: 270px;
}

/* STYLING WHEN CHECKBOX/HAMBURGER MENU IS CLICKED FOR MAIN NAV  */

input[type="checkbox"]:checked  ~ label i{
    color: #1F2022;
    visibility: hidden;
}

input[type="checkbox"]:checked  ~ label.menu-close i{
    color: #1F2022;
    visibility: visible;

}

input[type="checkbox"]:checked ~  ul {
    right: 0;    
}

header li:hover,
header li:focus {
    color: #F2A11C;
}

header li {
    color:  #1F2022;
}

}



